/* You can add global styles to this file, and also import other style files */
header
{
background-color:#00a9ff;
padding:45px;
color:white;
margin-top:-40px;
}
h2{

    margin-left:-2px;
}
.topnav {
margin-left:310px;
margin-top:-40px;
background-color: #00a9ff;

}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-decoration: none;
  font-size: 20px;
}
.topnav a.active {
  background-color: #0072ff;
  color: white;
}
h1
{
    text-align:center;
    margin-top:80px;
}

div.a {
    margin-left: 560px;
}
hr{
    width:85%;
    border-bottom:1px  grey;
}
input[type="text"]
    {
        border: 0;
        border-bottom: 1px solid grey;
        outline: 0;
        width:120%;
        padding-right:26px;
        margin-right:100px;
    }
.btn btn-success {
    color: #fff;
    background-color: rgba(51, 122, 183, 1);
}
.active
{
    margin-left: 20px;
   height:44px;
}

.btn-success {
    color: #fff;
    background-color: rgba(51, 122, 183, 1);
}
