

            <h2 style="margin-left: 46%">New Employee</h2>

            
    <div class="container" style="width:30%; align-content: center">
        <div class="row">
            <div class="col-lg-3">
                <label for="usr" style="font-size: 20px;font-weight:normal">Name&nbsp;</label>
            </div>
            <div class="col-lg-9">
                <input type="text" class="form-control" id="usr" placeholder="Name">
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-lg-3">
                <label for="usr" style="font-size: 20px;font-weight:normal">Age&nbsp;</label>
            </div>
            <div class="col-lg-9">
                <input type="text" class="form-control" id="usr" placeholder="Age">
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-lg-3">
                <label for="usr" style="font-size: 20px;font-weight:normal">Email&nbsp;</label>
            </div>
            <div class="col-lg-9">
                <input type="text" class="form-control" id="usr" placeholder="Email">
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-lg-5" style="padding-left: 29%">
                <button type="button" class="btn btn-success">ADD</button>
            </div>

            <div class="col-lg-7" style="padding-left: 0%">
                <button type="button" class="btn">CANCEL</button>
            </div>
        </div>
    </div>

